node_modules/
dist/
.env
.env.local
.env.example
*.log
.DS_Store
debug_output.txt
package.json
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

